<%#= render :partial => "devise/sessions/header"%>
<header class="clearfix">
	<div id="call-to-action"><a href="#"><span>User</span>Login</a></div>
	<h2 id="tagline">Save your precious<span class="heart"></span>time</h2>
	<ul class="breadcrumbs">
		<li>You are here:</li>
		<li>Login</li>
	</ul>
</header>


<div class="cl"></div>
<div class="container clearfix" id="content-area" >
		
			<div class="container-12">
			
				<article class="clearfix post">
					
					<header class="col-12">
						<h3>Sign in now</h3>
					</header>
					
					<div class="cl"></div>
					
					<div class="col-7-wrap">
						<section class="col-7">
							<p class="extra-.txt-large">
							  Start using this tool to save your time, boost your productivity, and having fun 
							  designing great graphics!
							</p>
						</section>
						
						<section class="col-7">
							<!-- <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), 
							                :html => { :id=>"contactform"}) do |f| %>
							                <p>
							                  <small>Great design saves the world. Login with your account</small>
							                  <span class="required">*</span>
							                </p>

							                
							                <p>
							                  <%= f.email_field :email, :size => "30" %>
							                  <%= f.label :email , "Email"%>
							                </p>
							                
							                <p>
							                  <%= f.password_field :password, :size => "30" %>
							                  <%= f.label :password , "Password"%>
							                </p>
							                
							                <p>
							                  <%= f.submit "Login", :class =>"button-large-3", :id => "submit"%>
							                </p>
							                
							              <% end %> -->
							              
							              
						</section>
					</div>
					
					<!--           <section class="col-5">
					             <form id="contactform" method="post" action="#----YOUR-FORM-ACTION----">
					               <p><small>Your email address will not be published. Required fields are marked </small><span class="required">*</span></p>
					               <p>
					                 <input type="text" aria-required="true" size="30" value="" name="author" id="author">
					                 <label for="author">Name</label> <span class="required">*</span>
					               </p>
					               <p>
					                 <input type="text" aria-required="true" size="30" value="" name="email" id="email">
					                 <label for="email">Email</label> <span class="required">*</span>
					               </p>
					               <p>
					                 <input type="text" size="30" value="" name="url" id="url">
					                 <label for="url">Website</label>
					               </p>
					               <p class="comment-form-comment">
					                 <textarea aria-required="true" rows="6" cols="43" name="comment" id="comment"></textarea>
					               </p>
					               <p>
					                 <input type="submit" value="&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;" id="submit" name="submit" class="button-large-3">
					               </p>
					             </form>
					         </section> -->
					
					<div class="cl"></div>
					
				</article>
		
				<div class="cl"></div>
				
			</div><!-- .container-12 -->
			
		</div>
		
		
