
	<div id="content-area-2" class="container grid grid-medium clearfix" style="margin-left:70px;">
	
		<article class="post format-image">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html">
				  <%= image_tag "entry-4-col-1.jpg", :width => "280", :height => "200"%>
          <!-- <img src="../_images/assets/entry-4-col-1.jpg" width="280" height="200" alt="Summer Time Fun"></a> -->
				<div class="preview-large-hover">
					<a class="large-image" href="../_images/assets/entry-1-large.jpg"></a>
				</div>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">Summer Time Fun</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">13</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-audio">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html">
          <!-- <img src="../_images/assets/entry-4-col-2.jpg" width="280" height="200" alt="Threaded Awesomeness"> -->
				  <%= image_tag "entry-4-col-2.jpg" , :width => "280", :height => "200"%>
				</a>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">Threaded Awesomeness</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">0</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-standard">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html">
          <!-- <img src="../_images/assets/entry-4-col-3.jpg" width="280" height="200" alt="Leave'em Everywhere"> -->
				  <%= image_tag "entry-4-col-3.jpg", :width => '280', :height => "200"%>
				</a>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">Leave'em Everywhere</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">25</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-video">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<iframe src="http://player.vimeo.com/video/24320443?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="280" height="200"></iframe>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">ANACONDA (HTML5 Embedded)</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">31</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-quote">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html">
          <!-- <img src="../_images/assets/entry-4-col-4.jpg" width="280" height="200" alt="Through Someone Elses Eyes"> -->
				  <%= image_tag "entry-4-col-4.jpg", :width => "280", :height => "200"%>
				</a>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">Through Someone Elses Eyes</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">1</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-gallery">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure class="cycle">
				<a href="#">
          <!-- <img src="../_images/assets/entry-4-col-5-a.jpg" width="280" height="200" alt="Bottle Caps Branded"> -->
				  <%= image_tag "entry-4-col-5-a.jpg", :width => "280", :height => "200"%>
				</a>
				<a href="#">
          <!-- <img src="../_images/assets/entry-4-col-5-b.jpg" width="280" height="200" alt="Bottle Caps Branded"> -->
				  <%= image_tag "entry-4-col-5-b.jpg", :width => "280", :height => "200"%>
				</a>
				<a href="#">
          <!-- <img src="../_images/assets/entry-4-col-5-c.jpg" width="280" height="200" alt="Bottle Caps Branded"> -->
				  <%= image_tag "entry-4-col-5-c.jpg", :width => "280", :height => "200"%>
				</a>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">Bottle Caps Branded</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">10</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-audio">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html">
          <!-- <img src="../_images/assets/entry-4-col-6.jpg" width="280" height="200" alt="Wear It With Pride"> -->
				  <%= image_tag "entry-4-col-6.jpg", :width => "280", :height => "200"%>
				</a>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">Wear It With Pride</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">13</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-standard">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html"><img src="../_images/assets/entry-4-col-7.jpg" width="280" height="200" alt="Off The Wall"></a>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">Off The Wall</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">19</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-gallery">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure class="cycle">
				<a href="#">
          <!-- <img src="../_images/assets/entry-4-col-8-a.jpg" width="280" height="200" alt="entry-4-col-8"> -->
				  <%= image_tag "entry-4-col-8-a.jpg", :width => "280", :height => "200"%>
				</a>
				<a href="#">
          <!-- <img src="../_images/assets/entry-4-col-8-b.jpg" width="280" height="200" alt="entry-4-col-8"> -->
				  <%= image_tag "entry-4-col-8-b.jpg", :width => "280", :height => "200"%>
				</a>
				<a href="#">
				  <%= image_tag "entry-4-col-8-c.jpg", :width => "280", :height => "200"%>
          <!-- <img src="../_images/assets/entry-4-col-8-c.jpg" width="280" height="200" alt="entry-4-col-8"> -->
				</a>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">Eye See You</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">5</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-image">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html">
          <!-- <img src="../_images/assets/entry-4-col-9.jpg" width="280" height="200" alt="You Spin Me Round"> -->
				  <%= image_tag "entry-4-col-9.jpg", :width => "280", :height => "200"%>
				  </a>
				<div class="preview-large-hover">
					<a class="large-image" href="../_images/assets/entry-9-large.jpg"></a>
				</div>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">You Spin Me Round</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">24</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-video">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<iframe src="http://player.vimeo.com/video/26726530?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="280" height="200"></iframe>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">Jean-Francois (HTML5 Embedded)</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">21</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-standard">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html">
          <!-- <img src="../_images/assets/entry-4-col-10.jpg" width="280" height="200" alt="You Spin Me Round"> -->
				  <%= image_tag "entry-4-col-10.jpg", :width => "280", :height => "200"%>
				  </a>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">You Spin Me Round</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">24</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-audio">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html">
          <!-- <img src="../_images/assets/entry-4-col-11.jpg" width="280" height="200" alt="You Spin Me Round">  -->
				  <%= image_tag "entry-4-col-11.jpg", :width => "280", :height => "200"%>
				  
				  </a>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">You Spin Me Round</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">24</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
		<article class="post format-image">
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			<figure>
				<a href="blog_single.html">
				  <%= image_tag "entry-4-col-12.jpg", :width => "280", :height => "200"%>
          <!-- <img src="../_images/assets/entry-4-col-12.jpg" width="280" height="200" alt="You Spin Me Round"></a> -->
				<div class="preview-large-hover">
					<a class="large-image" href="../_images/assets/entry-12-large.jpg"></a>
				</div>
			</figure>
			<header>
				<h3 class="post-title"><a href="blog_single.html">You Spin Me Round</a></h3>
			</header>
			<footer class="meta">
				<p>03.31.2011  |  <a class="comments" href="blog_single.html#comments">24</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
			</footer>
		</article>
		
	</div><!-- .grid -->
	<div class="cl"></div>
	
	<!-- Pagination -->
	<div class="pagination">
		<ul>
			<li><a href="#" class="prev">&lsaquo;</a></li>
			<li><span class="page current">1</span></li>
			<li><a href="#" title="2" class="page">2</a></li>
			<li><a href="#" title="3" class="page">3</a></li>
			<li><a href="#" title="4" class="page">4</a></li>
			<li><span class="gap">[...]</span></li>
			<li><a href="#" title="39" class="page">8</a></li>
			<li><a href="#" class="next">&rsaquo;</a></li>
		</ul>
	</div>
	<!-- /Pagination -->
	
<!-- /Content Area -->
