<header class="clearfix">
	<div id="call-to-action"><a href="#"><span>Available</span>Hire Me</a></div>
	<h2 id="tagline">Simple templates that tug at your<span class="heart"></span>strings</h2>
	<ul class="breadcrumbs">
		<li>You are here:</li>
		<li><a href="#">Home</a></li>
		<li><a href="page_styles.html">Pages</a></li>
		<li>Project Collaborators</li>
	</ul>
</header>
<!-- /Call to action -->

<div class="cl"></div>

<!-- Content Area -->
<div id="content-area" class="container page clearfix">

	<div class="container-12">

		<article class="clearfix post entity-wrapper profile-page" style="padding-bottom:3px; margin-left:0px;">
		
			<div class="format-ribbon"></div><!-- post format indication ribbon -->
			
			<header class="col-12">
				<h3><%= "Profile & Setting" %></h3>
			</header>
			
			<div class="cl"></div>
			
			<%= render :partial => "profiles/profile_navigation"%>
			
			<div class="cl"></div>
			
			
		</article>
		
		
		
		<div class="col-12-wrap clearfix post entity-wrapper"  >
			<section class="col-5" >
				<figure>
				  <%= image_tag get_profile_pic_url(@profile.profile_pic), :width => "380" %>
				</figure>
			</section>
			
			<section class="col-7 entity-display" style="padding-top:10px;">
				<h4>Change Password</h4>
				
				<p>
					Make a secure password. Don't make it too easy.<br /> 
					You don't want someone to claim your arts.
					<br /><br />
					
				</p>
				<!-- <a class="button-1" href="#">Email</a>
				        <a class="button-2" href="#">Call</a> -->
				        
				        <%= form_for( @user , :as => @user, :url => update_password_url ,
                      :html => {:method => :put, :class => " uniForm exeShowLoading" } ) do |f| %>

                <fieldset class="inlineLabels">
                  <!--     <input id="personal_details_update" name="personal_details_update" type="hidden" 
                  value="VUBJKB23UIVI1UU1VOBVI@" /> -->
                  <div class="ctrlHolder">
                    <%= f.label :current_password, "Current Password" %>
                    <%= f.password_field :current_password,  :size => "35", :class => "textInput"  %>
                  </div>


                  <div class="ctrlHolder">
                    <%= f.label :password, "New Password" %>
                    <%= f.password_field :password,  :size => "35", :class => "textInput" %>
                  </div>


                  <div class="ctrlHolder">
                    <%= f.label :password_confirmation, "New Password Confirmation"%>
                    <%= f.password_field :password_confirmation, :size => "35", :class => "textInput" %>
                    <p class="formHint">Confirm Your New Password</p>
                  </div>



                  <div class="buttonHolder"><button type="submit" class="primaryAction">Submit</button></div>
                </fieldset>
                <% end %>
                
                
			</section>
			
			
			
			
			
			
			
			
			<div class="cl"></div>
			
		</div>

		<div class="cl"></div>
		
	</div><!-- .container-12 -->
	
</div><!-- .container .page -->