<li class="comment even thread-even depth-2">
  
   <%= form_tag  add_comment_url(@picture.id), :class=>"uniForm" , :id => "commentform" , :method => :post do  %>
       <p class="comment-notes">Give feedback and task to the graphic artist<span class="required">*</span></p>
       <%= hidden_field_tag 'parent_comment_id', parent_comment_id %> 
      <fieldset class="inlineLabels">

        <div class="ctrlHolder">
          <%= label_tag :comment_value, "Feedback" %>
          <%= text_area_tag 'comment_value', '' ,  :rows => 25, :cols=> 25 %>
        </div>

        <div class="buttonHolder">
          <button type="submit" class="primaryAction">Save</button>
        </div>
        <%= hidden_field_tag 'parent_comment_id', '' %>
      </fieldset>
   <% end %>
   
   
</li>